on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  validate:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        go-version:
          - 1.16
          - 1.16rc1
          - 1.15.8
          - 1.15
          - 1.14
          - 1.13
          - 1.12
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          go-version: ${{ matrix.go-version }}
          go-packages: |
            golang.org/x/lint/golint
            golang.org/x/tools/cmd/goimports@v0.1.0
      - name: lint
        run: golint -set_exit_status ./...
      - name: vet
        run: go vet ./...
      - name: build
        run: go build -v ./...
      - name: test
        run: go test -v ./...
